.App {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

table#TestViewer {
  text-align: left;
  margin: 0 auto;
}

table#TestViewer > thead {
  font-weight: bold;
}

table#TestViewer td {
  padding: 5px 10px;
}

table#TestViewer tr.status_inprogress > td.status {
  color: #DDDDDD;
}

table#TestViewer tr.status_succeeded > td.status {
  color: green;
}

table#TestViewer tr.status_failed > td.status {
    color:red;
}

#TestSuiteResults {
  background-color: #eee;
  margin: 1em auto;
  width: 280px;
  padding: 1em;
}

#TestSuiteResults .label {
  font-weight: bold;
  text-align: right;
  padding-right: 1em;
}
